.banner{
  height: 90vh;

  &-wrapper{
    width: 100%;
    height: 100%;
  }

  &-item{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;

    &._bg1{
      background-image: url(../img/banner/banner1.jpg);
    }
    &._bg2{
      background-image: url(../img/banner/banner2.jpg);
    }
    &._bg3{
      background-image: url(../img/banner/banner3.jpg);
    }

    &__container{
      position: relative;
      height: 100%;
      margin: 0 136px;
    }

    &__info{
      position: absolute;
      bottom: 100px;
      left: 0;
      max-width: 500px;
    }

    &__subtitle{
      font-size: 50px;
      opacity: 0;
      transform: translateY(100%);

      &.animate {
        animation: slideIn 0.8s ease forwards;
      }
    }

    &__title {
      font-size: 114px;
      text-transform: uppercase;
      opacity: 0;
      transform: translateY(100%);

      &.animate {
        animation: slideIn 0.9s ease forwards;
      }
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      opacity: 0;
      transform: translateY(100%);

      &.animate {
        animation: slideIn 1s ease forwards;
      }
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
